html, body{
    padding: 0;
    margin: 0;
}


h1
{
  font-family : JetBrains Mono NL;
  font-size : 20px;
  letter-spacing : 0.5px;
  color : #F2F2F2;
  color : rgb(242, 242, 242);
  justify-self: center;

}


h2
{
  font-family : JetBrains Mono NL;
  font-size : 15px;
  letter-spacing : 1.35px;
  color : #F2F2F2;
  color : rgb(242, 242, 242);
  justify-self: center;
}



.nav-bar
{
  background : #000000;
  background : rgba(0, 0, 0, 1);
  max-width : 1366px;
  height : 110px;
  margin: auto; 

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'nav-left nav-right';
}

.nav-left{
  display:grid;
  grid-area: nav-left;

  max-width : 683px;
  height : 110px;
  text-align: center;
  align-items: center;
}

.nav-right{
  display: grid;
  grid-area: nav-right;
  margin: auto;

  max-width: 500px;
  height: 110px;
  align-items: center;

  grid-template-columns: 1fr 1fr 1fr 1fr;

}


.s1
{
  background : #F2F2F2;
  background : rgba(242, 242, 242, 1);
  /* position : absolute ; */
  left : 280px;
  top : 0px;
  max-width : 1363px;
  height : 110px;
}
.s2
{
  background : #F2F2F2;
  background : rgba(242, 242, 242, 1);
  /* position : absolute ; */
  left : 280px;
  top : 110px;
  max-width : 1363px;
  height : 210px;
}
.s3
{
  background : #F2F2F2;
  background : rgba(242, 242, 242, 1);
  /* position : absolute ; */
  left : 280px;
  top : 321px;
  max-width : 1363px;
  height : 467px;
}
.s4
{
  background : #F2F2F2;
  background : rgba(242, 242, 242, 1);
  /* position : absolute ; */
  left : 280px;
  top : 788px;
  max-width : 1363px;
  height : 185px;
}
.s5
{
  background : #F2F2F2;
  background : rgba(242, 242, 242, 1);
  /* position : absolute ; */
  left : 280px;
  top : 973px;
  max-width : 1363px;
  height : 311px;
}
.s6
{
  background : #F2F2F2;
  background : rgba(242, 242, 242, 1);
  /* position : absolute ; */
  left : 280px;
  top : 1284px;
  max-width : 1363px;
  height : 185px;
}
.s7
{
  background : #F2F2F2;
  background : rgba(242, 242, 242, 1);
  /* position : absolute ; */
  left : 280px;
  top : 1469px;
  max-width : 1363px;
  height : 129px;
}


 @media screen and (max-width: 1920px) {

  .nav-bar{
    width: 95%;
  }
  .nav-left{
    width: 95%;
  }
  .nav-right{
    width: 95%;
  }

  
} 